
@{
    ViewData["Title"] = "Winners";
}

<style>
    .winners-image {
        background-repeat: no-repeat;
        width: 480px;
        height: 340px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}


/* The Close Button */
    .close {
        position: center;
        color: #fbf603;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        padding: 10px 0;
        height: 80px;
    }

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

</style>

<div class="col-xl-12 col-12" style="background-color:#ededed !important">
    <br /><br /><br /><br />
    <div class="card-header">
        <h4 class="card-title text-center"><span class="text-header" style="color:dodgerblue"><b>2019 Winners</b></span></h4>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-12">
            <div class="card pull-up" style="min-height: 191px; height: 94%;" id="WellCarder">
                <div class="card-content collapse show">
                    @*  <div class="card-body winners-image" id="myImg" style="background-image: url('../images/winners page/2019 winners/Group-146@2x-480x340.png');"></div>*@
                    <img id="myImg" src="~/images/Winners Page/2019 Winners/Group-146@2x-480x340.png" alt="Oando Spirit" class="card-body winners-image">
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-12">
            <div class="card pull-up" style="min-height: 191px; height: 94%;" id="WellCarder">
                <div class="card-content collapse show">
                    <div class="card-body winners-image" style="background-image: url('../images/winners page/2019 winners/group-147@2x-480x340.png');"></div>
                    @*<img id="myImg" src="~/images/Winners Page/2019 Winners/Group-147@2x-480x340.png" alt="Oando Spirit" class="card-body winners-image">*@
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-6 col-12">
            <div class="card pull-up" style="min-height: 191px; height: 94%;" id="WellCarder">
                <div class="card-content collapse show">
                    <div class="card-body winners-image" style="background-image: url('../images/winners page/2019 winners/Group-148@2x-480x340.png');"></div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-12">
            <div class="card pull-up" style="min-height: 191px; height: 94%;" id="WellCarder">
                <div class="card-content collapse show">
                     <div class="card-body winners-image" style="background-image: url('../images/winners page/2019 winners/Group-149@2x-480x340.png');"></div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-6 col-12">
            <div class="card pull-up" style="min-height: 191px; height: 94%;" id="WellCarder">
                <div class="card-content collapse show">
                    <div class="card-body winners-image" style="background-image: url('../images/winners page/2019 winners/Group-150@2x-480x340.png');"></div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-12">
            <div class="card pull-up" style="min-height: 191px; height: 94%;" id="WellCarder">
                <div class="card-content collapse show">
                    <div class="card-body winners-image" style="background-image: url('../images/winners page/2019 winners/Group-151@2.2x-480x340.png');"></div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-6 col-12">
            <div class="card pull-up" style="min-height: 191px; height: 94%;" id="WellCarder">
                <div class="card-content collapse show">
                    <div class="card-body winners-image" style="background-image: url('../images/winners page/2019 winners/Group-152@2x-480x340.png');"></div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-12">
            <div class="card pull-up" style="min-height: 191px; height: 94%;" id="WellCarder">
                <div class="card-content collapse show">
                    <div class="card-body winners-image" style="background-image: url('../images/winners page/2019 winners/Group-153@2.2x-480x340.png');"></div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-6 col-12">
            <div class="card pull-up" style="min-height: 191px; height: 94%;" id="WellCarder">
                <div class="card-content collapse show">
                    <div class="card-body winners-image" style="background-image: url('../images/winners page/2019 winners/Group-154@2x-480x340.png');"></div>
                </div>
            </div>
        </div>



    </div>



</div>


<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementById("myImg");
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");
img.onclick = function(){
  modal.style.display = "block";
  modalImg.src = this.src;
  captionText.innerHTML = this.alt;
}

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}
</script>